// site.scss

@use 'main';

.content-center {
  @extend .h-100, .d-flex, .flex-column, .justify-content-center;
}

.site-footer {
  height: auto;
}

.site-footer-info {
  @extend .py-5, .text-white, .bg-black;
  height: auto;
}

.site-footer-copy {
  @extend .text-white, .bg-black;
  height: 100px;
}

.site-nav-link-no-left-padding {
  padding-left: 0 !important;
}

@mixin site-heading-font {
  font-family: 'Montserrat', sans-serif;
}

%site-heading-font {
  @include site-heading-font;
}

.site-heading-font {
  @extend %site-heading-font;
}

.site-fs-1 {
  @include site-heading-font;
  font-size: 64px;
}

.site-fs-2 {
  @include site-heading-font;
  font-size: 48px;
}

.site-fs-3 {
  @include site-heading-font;
  font-size: 36px;
}

.site-fs-4 {
  font-size: 24px;
}

.site-fs-5 {
  font-size: 20px;
}

.site-body-fs {
  font-size: 18px;
}

@media only screen and (max-width: 576px) {
  .site-fs-1 {
    @include site-heading-font;
    font-size: 36px;
  }

  .site-fs-2 {
    @include site-heading-font;
    font-size: 28px;
  }

  .site-fs-3 {
    @include site-heading-font;
    font-size: 24px;
  }

  .site-fs-4 {
    font-size: 18px;
  }

  .site-fs-5 {
    font-size: 14px;
  }

  .site-body-fs {
    font-size: 12px;
  }
}

.section-padding {
  @extend .py-2, .py-lg-5;
}

.main-site {
  background-image: url('images/pexels-bryan-catota-3756766.jpeg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  @extend .vh-100, .vw-100;
}

.stream-playback-placeholder {
  background-image: url('images/audio-waveform-gif.gif');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.script-playback-placeholder {
  background-image: url('images/audio-waveform-gif.gif');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.advert-playback-placeholder {
  background-image: url('images/audio-waveform-gif.gif');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.music-stream-list-item {
  @extend .rounded-0, .m-0, .py-2;
}

.music-stream-list-item-active {
  @extend .music-stream-list-item;
}

.music-stream-list-item-inactive {
  @extend .music-stream-list-item;
}
